.content {
  display: flex;
  flex-direction: column;
}

.main-content {
  padding-bottom: 20px;
}

.tabManager {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab {
  padding: 15px 20px;
  border: 0.5px solid;
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #5a5243;
}

.active {
  padding: 15px 20px;
  border: 0.5px solid;
  font-size: 15px;
  font-weight: bold;
  background: #5a5243;
  color: #fff;
}

.none {
  display: none !important;
}

.tabContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mainTitle {
  font-size: 30px;
  padding-bottom: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contactTitle {
  font-size: 50px;
  margin-bottom: 30px;
}

.recipeTitle {
  text-align: center;
  padding: 10px;
}

.recipeBody {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 20px;
}

.recipeBodyImage {
  width: 200px;
  height: 150px;
}

.recipeBodyDescription {
  width: 50%;
  padding-left: 5px;
}

.recipeBodyAdd {
  padding-left: 50px;
}
